<form id="myForm" class="form-group " action="http://localhost:8080/load" method="post" encType="multipart/form-data">
	<div class="col-lg-6">
		<span class="col-lg-6">
			<input id='file'  type="file" name="sampleFile">
		</span>
		<span class="col-lg-6">
			<input class="btn btn-primary submit" type="submit">
		</span>
	</div>
</form>
<br/><br/>